<a href="https://colab.research.google.com/github/ParkSeonungHun/Hun/blob/main/PythonBasic_/Pandas_10%EB%B6%84_%EC%99%84%EC%84%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import matplotlib.pyplot as plt

# 1.Object Creation (객체 생성)
데이터 구조 소개 섹션을 참조하세요.

Pandas는 값을 가지고 있는 리스트를 통해 Series를 만들고, 정수로 만들어진 인덱스를 기본값으로 불러올 것입니다.

In [ ]:
s = pd.Series([1,3,5,np.nan,6,8])

In [ ]:
s

datetime  인덱스와 레이블이 있는 열을 가지고 있는 numpy 배열을 전달하여 데이터프레임을 만듭니다.

In [ ]:
dates = pd.date_range('20130101', periods=6)

In [ ]:
dates

In [ ]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [ ]:
df

Series와 같은 것으로 변환될 수 있는 객체들의 dict로 구성된 데이터프레임을 만듭니다.

In [ ]:
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

In [ ]:
df2

데이터프레임 결과물의 열은 다양한 데이터 타입 (dtypes)으로 구성됩니다.

In [ ]:
df2.dtypes

IPython을 이용하고 계시다면 (공용 속성을 포함한) 열 이름에 대한 Tap 자동완성 기능이 자동으로 활성화 됩니다.다음은 완성될 속성에 대한 부분집합 (subset)입니다.

역자 주 : 아래 제시된 코드의 경우,IPython이 아닌 환경 (Google Colaborartory,Jupyer 등)에서는 사용이 불가능한 코드인 점에 주의하세요.

In [ ]:
# df2.<TAB>

역자 주 : IPython에서 실행하면 다음과 같은 결과값이 나옵니다.

df2.A                  
df2.abs

df2.add

df2.add_prefix

df2.add_suffix

df2.align

df2.all

df2.any

df2.append

df2.apply

df2.applymap

df2.D

df2.bool

df2.boxplot

df2.C

df2.clip

df2.clip_lower

df2.clip_upper

df2.columns

df2.combine

df2.combine_first

df2.compound

df2.consolidate

보시다시피A,B,C,D열이 탭 자동완성 기능으로 실행됩니다. 물론 E도 있습니다. 나머지 속성들은 간결하게 잘라 버렸습니다.

# 2.Viewing Data (데이터 확인하기)

Basic Section을 참조하세요.

데이터프레임의 가장 윗 줄과 마지막 줄을 확인하고 싶을 때에 사용하는 방법은 다음과 같습니다.

역자 주:괄호()안에는 숫자가 들어갈 수도 있고 안 들어갈 수도 있습니다.숫자가 들어간다면,윗/마지막 줄의 특정 줄을 불러올 수 있습니다.숫자가 들어가지 않다면,기본값인 5로 처리됩니다.


예시

df.tail(3)  # 끝에서 마지막 3줄을 불러옴

df.tail() # 끝에서 마지막 5줄 불러옴

In [ ]:
df.head()

In [ ]:
df.tail(3)

인덱스 (index), 열(column)그리고 numpy 데이터에 대한 세부 정보를 봅니다.

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.values

describe()는 데이터의 대략적인 통계적 정보 요약을 보여줍니다.

In [ ]:
df.describe()

데이터를 전치합니다.

In [ ]:
df.T

축 별로 정렬합니다.

In [ ]:
df.sort_index(axis=1, ascending=False)

값 별로 정렬합니다.

In [ ]:
df.sort_values(by='B')

# 3.Selection (선택)

주석 (Note) : 선택과 설정을 위한 Python/Numpy의 표준화된 표현들이 직관적이며,코드 작성을 위한 양방향 작업에 유용하지만 우리는 Pandas에 최적화된 데이터 접근 방법인 .at, .iat, .iloc을 추천합니다.

데이터 인덱싱 및 선택 문서와 다중 인덱싱 / 심화 인덱싱 문서를 참조하세요.

## Getting (데이터 얻기)

df.A 와 동일한 Series를 생성하는 단일 열을 선택합니다.

In [ ]:
df['A']

행을 분할하는 []를 통해 선택합니다.

In [ ]:
df[0:3]

In [ ]:
df['20130102':'20130104']

## Selection by Label (Label 을 통한 선택)

Label을 통한 선택에서 더 많은 내용을 확인하세요.

라벨을 사용하여 횡단면을 얻습니다.

In [ ]:
df.loc[dates[0]]

라벨을 사용하여 여러 축 (의 데이터)을 얻습니다.

In [ ]:
df.loc[:,['A','B']]

양쪽 종단점을 포함한 라벨 슬라이싱을 봅니다.

In [ ]:
df.loc['20130102':'20130104',['A','B']]

반환되는 객체의 차원을 줄입니다.

In [ ]:
df.loc['20130102',['A','B']]

스킬라 값을 얻습니다.

In [ ]:
df.loc[dates[0],'A']

스킬라 값을 더 빠르게 구하는 방법입니다(앞선 메소드와 동일합니다).

In [ ]:
df.at[dates[0],'A']

## Selection by Position (위치로 선택하기)

자세한 내용은 위치로 선택하기를 참고해주세요.

넘겨받은 정수의 위치를 기준으로 선택합니다.

In [ ]:
df.iloc[3]

정수로 표기된 슬라이스들을 통해,numpt/python과 유사하게 작동합니다.

In [ ]:
df.iloc[3:5,0:2]

정수로 표기된 위치값의 리스트들을 통해, numpy/python의 스타일과 유사해집니다.

In [ ]:
df.iloc[[1,2,4],[0,2]]

명시적으로 행을 나누고자 하는 경우입니다.

In [ ]:
df.iloc[1:3,:]

명시적으로 열을 나누고자 하는 경우입니다.

In [ ]:
df.iloc[:,1:3]

명시적으로 (특정한)값을 얻고자 하는 경우입니다.

In [ ]:
df.iloc[1,1]

스킬라 값을 빠르게 얻는 방법입니다(위의 방식과 동일합니다).

In [ ]:
df.iat[1,1]

## Boolean indexing

데이터를 선택하기 위한 단일 열의 값을 사용합니다.

In [ ]:
df[df.A > 0]

Boolean 조건을 충족하는 데이터프레임에서 값을 선택합니다.

In [ ]:
df[df > 0]

필터링을 위한 메소드 isin()을 사용하니다.

In [ ]:
df2 = df.copy()

In [ ]:
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']

In [ ]:
df2

In [ ]:
df2[df2['E'].isin(['two','four'])]

## Setting (설정)

새 열을 설정하면 데이터가 인덱스 별로 자동 정렬됩니다.

In [ ]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102',periods=6))

In [ ]:
s1

In [ ]:
df['F'] = s1

라벨에 의해 값을 설정합니다.

In [ ]:
df.at[dates[0],'A'] = 0

위치에 의해 값을 설정합니다.

In [ ]:
df.iat[0,1] = 0

Numpy 배열을 사용한 할당에 의해 값을 설정합니다.

In [ ]:
df.loc[:,'D'] = np.array([5] * len(df))

위 설정대로 작동한 결과입니다.

In [ ]:
df

where 연산을 설정합니다.

In [ ]:
df2 = df.copy()

In [ ]:
df2[df2 > 0] = -df2

In [ ]:
df2

# 4.Missing Data (결측치)

pandas는 결측치를 표현하기 위해 주로 np.nan 값을 사용합니다.이 방법은 기본 설정값이지만 계산에는 포함되지 않습니다.Missing data section을 참조하세요.

Reindexing으로 지정된 축 상의 인덱스를 변경/추가/삭제할 수 있습니다.Reindexing은 데이터의 복사본을 반환합니다.

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

In [ ]:
df1.loc[dates[0]:dates[1],'E'] = 1

In [ ]:
df1

결측치를 가지고 있는 행들을 지웁니다.

In [ ]:
df1.dropna(how='any')

결측치를 채워 넣습니다.

In [ ]:
df1.fillna(value=5)

nan인 값에 boolean을 통한 표식을 얻습니다.

역자 주 : 데이터프레임의 모든 값이 boolean형태로 표시되도록 하며, nan의 값에만 True가 표시되게 하는 함수입니다.

In [ ]:
pd.isna(df1)

# 5.Operation (연산)

이진 (Binary) 연산의 기본 섹션을 참조하세요.

## Stats (통계)

일반적으로 결측치를 제외한 후 연산됩니다.

기술통계를 수행합니다.

In [ ]:
df.mean()

다른 축에서 동일한 연산을 수행합니다.

In [ ]:
df.mean(1)

정렬이 필요하며, 차원이 다른 객체로 연산해보겠습니다. 또한, pandas는 지정된 차원을 따라 자동으로 브로드 캐스팅됩니다.

역자 주 : broadcast란 numpy에서 유래한 용어로, n차원이나 스칼라 값으로 연산을 수행할 때 도출되는 결과의 규칙을 설명하는 것을 의미합니다.

In [77]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)

In [ ]:
s

In [ ]:
df.sub(s, axis='index')

## Apply (적용)

데이터에 함수를 적용합니다.

In [ ]:
df.apply(np.cumsum)

In [ ]:
df.apply(lambda x: x.max() - x.min())

## histogramming (히스토그래밍)

더 많은 내용은 Histogramming and Discretizaion (히스토그래밍과 이산화)항목을 참조하세요.

In [92]:
s = pd.Series(np.random.randint(0, 7, size=10))

In [91]:
s.value_counts()

3    2
2    2
1    2
0    2
6    1
5    1
dtype: int64

## Srting Methods (문자열 메소드)

Series는 다음의 코드와 같이 문자열 처리 메소드 모음 (set)을 가지고 있습니다.
이 모음은 배열의 각 요소를 쉽게 조작할 수 있도록 만들어주는 문자열의 속성에 포함되어 있습니다.

문자열의 패턴 일치 확인은 기본적으로 정규 표현식을 사용하며, 몇몇 경우에는 항상 정규 표현식을 사용함에 유의하십시오.

좀 더 자세한 내용은 벡터화된 문자열 메소드 부분에서 확인할 수 있습니다.

In [93]:
s = pd.Series(['A','B','C','Aaba','Baca',np.nan, 'CABA','dog','cat'])

In [ ]:
s.str.lower()

# 6.Merge (병합)

## concat (연결)

결합 (join) / 병합 (merge) 형태의 연산에 대한 인덱스, 관계 대수 기능을 위한 다양한 형태의 논리를 포함한 Series, 데이터프레임, Panel 객체를 손쉽게 결합할 수 있도록 하는 다양한 기능을 pandas 에서 제공합니다.

Merging 부분을 참조하세요.

concat()으로 pandas 객체를 연결합니다.

In [95]:
df = pd.DataFrame(np.random.randn(10, 4))

In [ ]:
df

In [97]:
# break it into pieces
pieces = [df[:3],df[3:7],df[7:]]

In [ ]:
pd.concat(pieces)

## Join (결합)

SQL 방식으로 병합합니다.데이터베이스 스타일 결합 부분을 참고하세요.

In [99]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})

In [100]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left,right, on= 'key')

다른 예시입니다.

In [104]:
left = pd.DataFrame({'key' : ['foo', 'bar'], 'lval' : [1, 2]})

In [105]:
right = pd.DataFrame({'key' : ['foo', 'bar'], 'rval': [4, 5]})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left, right, on= 'key')

## Append (추가)

데이터프레임에 행을 추가합니다.Appending 부분을 참조하세요.

In [109]:
df = pd.DataFrame(np.random.randn(8,4), columns=['A','B','C','D'])

In [ ]:
df

In [111]:
s = df.iloc[3]

In [ ]:
df.append(s, ignore_index=True)

# 7.Groping (그룹화)

그룹화는 다음 단계 중 하나 이사을 포함하는 과정을 가리킵니다.



*   몇몇 기준에 따라 여러 그룹으로 데이터를 분할 (splitting)
*   각 그룹에 독립적으로 함수를 적용 (applying)

*   결과물들을 하나의 데이터 구조로 결합(combining)

자세한 내용은 그룹화 부분 참조하세요.

In [113]:
df = pd.DataFrame(
    {
        'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
        'B' : ['one', 'one', 'two', 'three', 'two', 'two','one','three'],
        'C' : np.random.randn(8),
        'D' : np.random.randn(8)
    })

In [ ]:
df

생성된 데이텊프레임을 그룹화한 후 각 그룹게 sum() 함수를 적용합니다.

In [ ]:
df.groupby('A').sum()

여러 열을 기준으로 그룹화하면 계층적 인덱스가 형성됩니다. 여기에도 sum 함수를 적용할 수 있습니다.

In [ ]:
df.groupby(['A','B']).sum()

# 8.Reshaping (변형)

계층적 인덱싱 및 변형 부분을 참조하세요.

## Stack (스택)

In [117]:
tuples = list(zip(*[['bar','bar','baz','baz',
                     'foo','foo','qux','qux'],
                    ['one','two','one','two',
                     'one','two','one','two']]))

In [118]:
index = pd.MultiIndex.from_tuples(tuples, names=['first','second'])

In [119]:
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns= ['A','B'])

In [120]:
df2 = df[:4]

In [ ]:
df2

stack()메소드는 데이터프레임 열들의 계층을 "압축"합니다.

In [122]:
stacked = df2.stack()

In [ ]:
stacked

"Stack된"데이터프레임 또는 (MultiIndex를 인덱스로 사용하는) Series인 경우, stack()의 역 연산은 unstack()이며,기본적으로 마지막 계층을 unstack합니다.

In [ ]:
stacked.unstack()

In [ ]:
stacked.unstack(1)

In [ ]:
stacked.unstack(0)

## Pivot Table (피봇 테이블)

피봇 테이블 부분을 참조하세요.

In [129]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                   'B' : ['A', 'B', 'C'] * 4,
                   'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D' : np.random.randn(12),
                   'E' : np.random.randn(12)})

In [ ]:
df

이 데이터로부터 피봇 테이블을 매우 쉽게 생성할 수 있습니다.

In [ ]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

# 9.Time Series (시계열)

Pandas는 자주 일어나는 변환 (예시 : 5분마다 일어나는 데이터에 대한 2차 데이터 변환) 사이에 수행하는 리샘플링 연산을 위한 간단하고, 강력하며, 효율적인 함수를 제공합니다. 이는 재무 (금융) 응용에서 매우 일반적이지만 이에 국한되지는 않습니다. 시계열 부분을 참고하세요.

In [132]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')

In [133]:
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)

In [ ]:
ts.resample('5Min').sum()

시간대를 표현합니다.

In [135]:
rng = pd.date_range('3/6/2012 00:00', periods=5, freq='D')

In [136]:
ts = pd.Series(np.random.randn(len(rng)), rng)

In [ ]:
ts

In [138]:
ts_utc = ts.tz_localize('UTC')

In [ ]:
ts_utc

다른 시간대로 변환합니다.

In [ ]:
ts_utc.tz_convert('US/Eastern')

시간 표현 <-> 기간 표현으로 변환합니다.

In [141]:
rng = pd.date_range('1/1/2012', periods=5, freq='M')

In [143]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [ ]:
ts

In [145]:
ps = ts.to_period()

In [ ]:
ps

In [ ]:
ps.to_timestamp()

기간 <-> 시간 변환은 편리한 산술 기능들을 사용할 수 있도록 만들어줍니다. 다음 예제에서, 우리는 11월에 끝나는 연말 결산의 분기별 빈도를 분기말 익월의 월말일 오전 9시로 변환합니다.

In [149]:
prng = pd.period_range('1990Q1', '2000Q4', freq='Q-NOV')

In [150]:
ts = pd.Series(np.random.randn(len(prng)), prng)

In [151]:
ts.index = (prng.asfreq('M','e') + 1).asfreq('H', 's') + 9

In [ ]:
ts.head()

# 10.Categoricals (범주화)

Pandas는 데이터프레임 내에 범주형 데이터를 포함할 수 있습니다. 범주형 소개 와 API 문서 부분을 참조하세요.

In [153]:
df = pd.DataFrame({"id":[1,2,3,4,5,6], "raw_grade":['a','b','b','a','a','e']})

가공하지 않은 성적을 범주형 데이터로 변환합니다.

In [154]:
df["grade"] = df["raw_grade"].astype("category")

In [ ]:
df["grade"]

범주에 더 의미 있는 이름을 붙여주세요 (Series.cat.categories로 할당하는 것이 적합 합니다.)

In [156]:
df["grade"].cat.categories = ["very good","good","very bad"]

범주의 순서를 바꾸고 동시에 누락된 범주를 추가합니다 (Series.cat에 속하는 메소드는 기본적으로 새로운 Series를 반환합니다).

In [157]:
df["grade"] = df["grade"].cat.set_categories(["very bad","bad","medium","good","very good"])

In [ ]:
df["grade"]

정렬은 사전 순서가 아닌, 해당 범주에서 지정된 순서대로 배열합니다.

역자 주 : 131번에서 very bad, bad, medium, good, very good 의 순서로 기재되어 있기 때문에 정렬 결과도 해당 순서대로 배열됩니다.

In [ ]:
df.sort_values(by="grade")

범주의 열을 기준으로 그룹화하면 빈 범주도 표시됩니다.

In [ ]:
df.groupby("grade").size()

# 11.Plotting (그래프)

plotting 부분을 참조하세요.

In [162]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))

In [163]:
ts = ts.cumsum()

In [ ]:
ts.plot()

데이터프레임에서 plot() 메소드는 라벨이 존재하는 모든 열을 그릴 때 편리합니다.

In [165]:
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index,
                  columns=['A','B','C','D'])

In [166]:
df = df.cumsum()

In [ ]:
plt.figure(); df.plot(); plt.legend(loc='best')

# 12.Getting Data In/Out (데이터 입/출력)

## csv

csv 파일에 씁니다.

In [168]:
df.to_csv('foo.csv')

csv 파일을 읽습니다.

In [ ]:
pd.read_csv('foo.csv')

## HDF5

HDFStores에 읽고 씁니다.

HDF5 Store에 씁니다.

In [170]:
df.to_hdf('foo.h5','df')

HDf5 Store에서 읽어옵니다.

In [ ]:
pd.read_hdf('foo.h5','df')

## Excel

MS Excel에 읽고 씁니다.

엑셀 파일에 씁니다.

In [172]:
df.to_excel('foo.xlsx', sheet_name='sheet1')

엑셀 파일을 읽어옵니다.

In [ ]:
pd.read_excel('foo.xlsx', 'Sheet1', index_col=None, na_values=['NA'])

# 13.Gotchas (잡았다!)

연산 수행 시 다음과 같은 예외 상황을 볼 수도 있습니다.

In [ ]:
if pd.Series([False, True, False]):
  print("I was true")

이러한 경우에는 any(), all(), empty 등을 사용해서 무엇을 원하는지를 선택 (반영)해주어야 합니다.

In [ ]:
if pd.Series([False, True, False])is not None:
  print("I was not None")

위에 대한 설명과 자세한 내용은 비교 부분을 참조하세요.

Gotchas 부분도 참조하세요.

본 자료의 저작권은 BSD-3-Clause인 점을 참조하여 주세요.

This documentation is a Korean translation material of ‘10 Minutes to Pandas’. Every members of DATAITGIRLS2 program participated in the translation. If you want to know about DATAITGIRLS2 program, please visit DATAITGIRLS2 program’s homepage.

The copyright conditions of this documentation are BSD-3-Clause.